bin/
obj/
*.resources
*.pdb



## Library/*
## !Library/*.asset
## 表示忽略Library文件夹但是不忽略Library文件夹下的.asset结尾的文件。
## 需要注意的是，忽略的文件夹一定要结尾 /* ，否则不忽略规则将无法生效。

## “#”表示注释
## “/”表示目录；
## “*”通配多个字符；
## “?”通配单个字符
## “[]”包含单个字符的匹配列表，参见正则表达式；
## “!”表示不忽略*匹配到的文件或目录；